<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mystery Word</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <nav>
            <h3>Mystery Word Game</h3>

        </nav>
        <section class="container">
        {{{yield}}}
<!--
            <form class="" action="index.html" method="post">
                <input type="text" name="" value="">
            </form> -->



        </section>
    </body>
</html>
